.row
  .col-md-7
  .col-md-1
    .glyphicon.glyphicon-search.h4.pull-right
  .col-md-4
    %form{action: "/page/profil_search", method: "get"}
      %input.form-control{id: "q", name: "q", placeholder: "Rechercher un membre", type: "text"}
%br

%h2
  recherche de "
  = @recherche
  "

- def dice_coefficient(a, b)
  - a_bigrams = a.each_char.each_cons(2).to_set
  - b_bigrams = b.each_char.each_cons(2).to_set
  - overlap = (a_bigrams & b_bigrams).size
  - total = a_bigrams.size + b_bigrams.size
  - dice  = overlap * 2.0 / total
  - dice

- h = Hash.new
- @users.each do |u|
  - h[u.id] = dice_coefficient(u.nom,@recherche) + dice_coefficient(u.prenom,@recherche)
  %p

- tri = h.sort_by { |key, value| value}


.list-group
  - tri.reverse.each do |key, value|
    - if value > 0.0
      - @users.each do |u|
        - if u.id == key
          %a.list-group-item{href: "/profil/#{u.id}"}

            - if u.avatar?
              = image_tag u.avatar.url(:square), width: "50px", height: "50px", class: "img-circle"

            .col-md-2.col-md-offset-2.mid
              = u.prenom
            .col-md-2.mid
              = u.nom
            .col-md-2.mid
              = u.promo
            .col-md-2.mid
              = u.email

:css
  .mid {
      float:none;
      display:inline-block;
      vertical-align:middle;
      color: #ffffff;
  }
