-# %h1 New Post
-# = form_for :post, url: posts_path do |f|
-#   %p
-#     = f.label :title
-#     %br/
-#     = f.text_field :title
-#   %p
-#     = f.label :Catégorie
-#     %br/
-#     = collection_select :post, :cat_id, @cats, :id, :name, { :include_blank => "Select Catégorie"}
-#   %p
-#     = f.label :price
-#     %br/
-#     = f.number_field :price
-#
-#   %p
-#     = f.label :text
-#     %br/
-#     = f.text_area :text
-#   %p
-#     = f.label :image1
-#     %br/
-#     = f.file_field :image1
-#
-#   %p
-#     = f.label :image2
-#     %br/
-#     = f.file_field :image2
-#
-#   %p
-#     = f.label :image3
-#     %br/
-#     = f.file_field :image3
-#
-#   %p
-#     = f.label :image4
-#     %br/
-#     = f.file_field :image4
-#
-#   %p
-#     = f.label :image5
-#     %br/
-#     = f.file_field :image5
-#
-#   %p
-#     = f.submit

%h1 Nouvelle annonce :
= form_for :post, url: posts_path do |f|

  .row
    .col-md-12
      %h3.col-md-2
        = f.label :Titre
      .col-md-10
        .col-xs-4
        %br/
        = f.text_field :title
    .col-md-12
      %h3.col-md-2
        = f.label :Catégorie
      .col-md-10
        %br/
        = collection_select :post, :cat_id, @cats, :id, :name, { :include_blank => "Choisir la Catégorie ?"}
    .col-md-12
      %h3.col-md-2
        = f.label :Prix
      .col-md-10
        .col-xs-4
        %br/
        = f.number_field :price
    .col-md-12
      %h3.col-md-2
        = f.label :Description
      .col-md-10
        .col-xs-4
        %br/
        = f.text_area :text
    .col-md-12
      %h3.col-md-2
        = f.label :image1
      .col-md-10
        .col-xs-4
        %br/
        = f.file_field :image1
    .col-md-12
      %h3.col-md-2
        = f.label :image2
      .col-md-10
        .col-xs-4
        %br/
        = f.file_field :image2
    .col-md-12
      %h3.col-md-2
        = f.label :image3
      .col-md-10
        .col-xs-4
        %br/
        = f.file_field :image3
    .col-md-12
      %h3.col-md-2
        = f.label :image4
      .col-md-10
        .col-xs-4
        %br/
        = f.file_field :image4
    .col-md-12
      %h3.col-md-2
        = f.label :image5
      .col-md-10
        .col-xs-4
        %br/
        = f.file_field :image5
  %div
    %h3
      = f.submit
