%p
  %strong Author:
  = @author.nom

%p
  %strong Title:
  = @post.title
%p
  %strong Price:
  = @post.price
%p
  %strong Text:
  = @post.text


%p
  - if @post.image1?
    = image_tag @post.image1.url(:thumb)
%p
  - if @post.image2?
    = image_tag @post.image2.url(:thumb)
%p
  - if @post.image3?
    = image_tag @post.image3.url(:thumb)
%p
  - if @post.image4?
    = image_tag @post.image4.url(:thumb)
%p
  - if @post.image5?
    = image_tag @post.image5.url(:thumb)

= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }


%h2 Comments
- @post.comments.each do |comment|

  %p
    %strong Comment:
    = comment.text
  -# = link_to 'Destroy', post_comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }
  = link_to 'Destroy Comment', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' }



%h2 Add a comment:
= form_for([@post, @post.comments.build]) do |f|

  %p
    = f.label :body
    %br/
    = f.text_area :text

  %p
    = f.submit

= link_to 'Back', posts_path
= link_to 'Edit', edit_post_path(@post)
