= form_for :cat, url: cats_path do |f|
  %p
    = f.label :Nom
    %br/
    = f.text_field :name
  %p
    = f.label :Icon
    %br/
    = f.text_field :icon, value: "glyphicon glyphicon-tag"
  %p
    = f.submit

= render 'icons'
