
.row
  .col-md-7
  .col-md-1
    .glyphicon.glyphicon-search.h4.pull-right
  .col-md-4
    %form{action: "/page/profil_search", method: "get"}
      %input.form-control{id: "q", name: "q", placeholder: "Chercher un membre", type: "text"}

%br

.panel.panel-default.panel-body.YYY
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
        %th
        %th
          Prénom
        %th
          Nom
        %th
          Promo
        %th
          Mail
        %th
          Profil


    %tbody
      - @users.each do |u|
        %tr
          %td
          %td
            - if u.avatar?
              = image_tag u.avatar.url(:square), width: "50px", height: "50px", class: "img-circle"

          %td
            = u.prenom
          %td
            = u.nom
          %td
            = u.promo
          %td
            = u.email
          %td
            %a{href: "/profil/#{u.id}"}
              .glyphicon.glyphicon-user.h4




%script $('#l3').attr('class','active')

:css
  .YYY {
    padding:0px;
  }
  .push-down {
    float:none;
    vertical-align: bottom;
  }
