!!!
%html
  %head
    %title Caddiie
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body

    .navbar.navbar-default.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "/page/index"}
            .glyphicon.glyphicon-chevron-left
            .glyphicon.glyphicon-shopping-cart
            .glyphicon.glyphicon-chevron-right
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %li{id: "l1"}
              %a{href: "/page/index"}
                .glyphicon.glyphicon-home
                Accueil
            %li{id: "l2"}
              %a{href: "/cats/index"}
                .glyphicon.glyphicon-th
                Categories
            %li{id: "l3"}
              %a{href: "/profil/list"}
                .glyphicon.glyphicon-user
                Membres
            - if current_user.try(:admin?)
              %li{id: "l4"}
                %a{href: "/reports/index"}
                  .glyphicon.glyphicon-lock
                  Admin Panel


          %form.navbar-form.navbar-left{action: "/page/search", method: "get"}
            %input.form-control.col-lg-8{id: "q", name: "q", placeholder: "Rechercher une annonce", type: "text"}


          %p.navbar-text.pull-right
            - if user_signed_in?
              Logged in as
              = succeed "." do
                %strong= current_user.email
              = link_to 'Mon profil', "/profil/#{current_user.id}", :class => 'navbar-link'
              |
              \#{link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'}
            - else
              = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
              |
              \#{link_to "Login", new_user_session_path, :class => 'navbar-link'}
            - if notice
              %p.navbar-text.pull-right= notice
            - if alert
              %p.navbar-text.pull-right= alert

    .navbar.navbar-default.navbar-static-top


    .container
      = yield

:javascript
  jQuery(function(){
      var kKeys = [];
      function Kpress(e){
          kKeys.push(e.keyCode);
          if (kKeys.toString().indexOf("38,38,40,40,37,39,37,39,66,65") >= 0) {
              jQuery(this).unbind('keydown', Kpress);
              kExec();
          }
      }
      jQuery(document).keydown(Kpress);
  });
  function kExec(){
    alert("https://www.youtube.com/watch?v=pWsoz4GCAsY");
  }
